* {
    box-sizing: border box;
}

a {
    text-decoration: none;
    color: #FAA300;
}

a:hover {
    color: #D12411;
    text-decoration: underline;
}

nav li {
    display: inline;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 2rem;
    font-family: Superclarendon, sans-serif;
}

nav {
    overflow: auto;
    padding: 10px;
    background-color: transparent;
    text-align: center;
}

.hero {
    height: 500px;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    text-align: center;
    color: #FAA300;
    font-size: 2rem;
    font-family: Superclarendon, sans-serif;
}

@media screen and (max-width: 550px) {
    nav li {
        font-size: 0.8rem;
        padding-left: 10px;
        padding-right: 10px;
    }

    nav {
        padding: 8px;
    }

    .hero {
        height: 300px;
    }
}