* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #FAA300;
}

a:hover {
    color: #D12411;
    text-decoration: underline;
}

nav li {
    display: inline;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 2rem;
    font-family: Superclarendon, sans-serif;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

nav {
    overflow: auto;
    padding: 10px;
    background-color: transparent;
    text-align: center;
}

.hero {
    height: 500px;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    text-align: center;
    color: #EC7505;
    font-size: 2rem;
    font-family: Superclarendon, sans-serif;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

.container {
    overflow: auto;
    padding: 0;
}

.projectBox {
    float: left;
    width: 33.3%;
    height: 250px;
    border: 1px solid black;
}

@media screen and (max-width: 950px) {
    nav li {
        font-size: 1.4rem;
        padding-left: 20px;
        padding-right: 20px;
    }

    nav {
        padding: 9px;
    }

    .hero {
        height: 400px;
    }

    .title {
        font-size: 1.4rem;
    }

    .projectBox {
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
    nav li {
        font-size: 0.8rem;
        padding-left: 10px;
        padding-right: 10px;
    }

    nav {
        padding: 8px;
    }

    .hero {
        height: 300px;
    }

    .title {
        font-size: 0.8rem;
    }

    .projectBox {
        width: 100%;
    }
}